<div
  class=""
  {% if testimonial.background_color %}
    style="background-color: {{ testimonial.background_color }}"
  {% endif %}
>
  <blockquote>
    <span
      class="testimonial-quote start"
      >“</span
    >
    <p>{{ testimonial.testimonial }}</p>
    <span
      class="testimonial-quote end"
      >”</span
    >
  </blockquote>
  <div class="review__author">
    <div class="review__author__content">
      <div class="review__author__name">{{ testimonial.author }}</div>
      <span class="review__author__subheading subheading">{{ testimonial.credentials }}</span>
    </div>
  </div>
</div>
