<div
  class=""
  {% if testimonial.background_color %}
    style="background-color: {{ testimonial.background_color }}"
  {% endif %}
>
  <blockquote>
    <span class="review__quote review__quote--open review__quote--open-negative">
      <span
        class="review__quote-inner start"
        style="font-size: 4rem;transform: translateY(calc(10% * (4 * 0.833)));"
        >“</span
      >
    </span>
    <p>{{ testimonial.testimonial }}</p>
    <span class="review__quote review__quote--close review__quote--close-negative">
      <span
        class="review__quote-inner end"
        style="font-size: 4rem;transform: translateY(calc(10% * (4 * 0.833)));"
        >”</span
      >
    </span>
  </blockquote>
  <div class="review__author">
    <div class="review__author__content">
      <div class="review__author__name">{{ testimonial.author }}</div>
      <span class="review__author__subheading subheading">{{ testimonial.credentials }}</span>
    </div>
  </div>
</div>
